<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>
      CHADS₂ Score
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="color1">
    <ion-card-content>
      <ion-item>
        <ion-radio-group value="q12" (ionChange)="checkq1($event)">
            <ion-text>CHF history</ion-text>
          <ion-item>
            <ion-text>Yes</ion-text>
            <ion-radio slot="start" value="q11" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-text>No</ion-text>
            <ion-radio slot="start" value="q12"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item-divider class="color1"></ion-item-divider>
      <ion-item>
        <ion-radio-group value="q12" (ionChange)="checkq2($event)">
            <ion-text>Hypertension history</ion-text>
          <ion-item>
            <ion-text>Yes</ion-text>
            <ion-radio slot="start" value="q11" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-text>No</ion-text>
            <ion-radio slot="start" value="q12"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item-divider class="color1"></ion-item-divider>
      <ion-item>
        <ion-radio-group value="q12" (ionChange)="checkq3($event)">
            <ion-text>Age ≥75 years</ion-text>
          <ion-item>
            <ion-text>Yes</ion-text>
            <ion-radio slot="start" value="q11" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-text>No</ion-text>
            <ion-radio slot="start" value="q12"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item-divider class="color1"></ion-item-divider>
      <ion-item>
        <ion-radio-group value="q12" (ionChange)="checkq4($event)">
            <ion-text>Diabetes mellitus history</ion-text>
          <ion-item>
            <ion-text>Yes</ion-text>
            <ion-radio slot="start" value="q11" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-text>No</ion-text>
            <ion-radio slot="start" value="q12"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item-divider class="color1"></ion-item-divider>
      <ion-item>
        <ion-radio-group value="q12" (ionChange)="checkq5($event)">
            <ion-text>Stroke or TIA symptoms previously</ion-text>
          <ion-item>
            <ion-text>Yes</ion-text>
            <ion-radio slot="start" value="q11" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-text>No</ion-text>
            <ion-radio slot="start" value="q12"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      </ion-card-content>
</ion-card>

<ion-card class="ion-text-center" color="primary">
<div>
  <p><u><b>Based on CHADS₂ Score</b></u></p>
  <p>The total score is <b>{{score}} points</b></p>
  <p><i>Risk of thromboembolic event is {{classification1}} risk.</i></p>
  <p><i>Risk of thromboembolic event is {{classification2}}% per year if no coumadin.</i></p>
  <p><i><u>{{classification3}}</u></i></p>
</div>
</ion-card>

</ion-content>
