<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color1">
    <ion-text>
      <p>1. CHADS₂ score estimates stroke risk in patients with atrial fibrillation.</p>
      <p>2. Studies have found that as the CHADS₂ score increases, the annual risk of ischemic stroke increases proportionally.</p>
      <p>3. Some experts recommends the CHA₂DS₂-VASc score over the original CHADS₂ score to assess stroke risk in patients with atrial fibrillation.</p>
      <p>4. CHA₂DS₂-VASc was developed to be more inclusive of common stroke risk factors/modifiers.</p>
    </ion-text>
  </ion-item>
</ion-content>
